{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

<!--Did this because title keyword was already used for some other purpose-->
<!-- it shows a weird yellow line -->
{% block titlename%}Logout{% endblock titlename%}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area" style="background-image: url('{% static 'img/banner/notes.jpeg' %}');">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>{% trans "Sign Out" %}</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="m-5">
  <div class="container card text-center p-4 col-5">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="boxed-btn3 wow" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>

{% endblock %}
